* {
    border: none;
    border-radius:05px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    min-height: 1px;
}

@import "themes/mocha.css";

window#waybar {
    border: 2px solid rgb(112, 112, 112); /* Borda azul claro */
    background-color: rgba(26, 27, 38, 0.0); /* Fundo semitransparente */
    border-radius: 10px;
    margin-top: 3px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 5px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
  
}

#workspaces button {
    transition: none;
    color: #7aa2f7;
    background: transparent;
    margin-right: 1px;
}

#workspaces button.persistent {
    transition: none;
    color: #7aa2f7;
    background: transparent;
    font-size: 4px;
}

#workspaces button.empty {
    color: #e9e5f0;
    font-size: 2px;
    transition: none;
    background: transparent;
}

#workspaces button.active {
    background: rgba(59, 97, 200, 0.122); /* Fundo mais suave para workspace ativa */
    color: rgba(223, 230, 255, 0.908); /* Branco puro para texto ativo */
    border: none;
    padding-left: 1px;
    padding-right: 1px;
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:hover {
    background: rgba(255, 255, 255, 0.985); /* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:focus {
    outline: 2px solid rgba(0, 255, 200, 1.0); /* Verde-azulado para indicar foco */
    outline-offset: -2px;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #e0af68;
    background: rgba(28, 32, 44, 0.428);
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 1px;
    padding-right: 3px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    color: #161320;
    background: rgba(28, 32, 44, 0.428);
}

#battery.charging, #battery.plugged {
    color: #161320;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #B5E8E0;
    }
}

#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: rgba(28, 32, 44, 0.428);
}

#clock {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 4px;
    margin-bottom: 6px;
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#memory {
    margin: 6px 0px 6px 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#disk {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    margin-bottom: 6px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    margin-bottom: 6px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#tray {
   margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#custom-launcher {
        margin-top: 6px;
        margin-left: 8px;
        padding-left: 1px;
        padding-right: 6px;
        margin-right: 1px;
        margin-bottom: 6px;
        border-radius: 5px;
        font-size: 18px;
        transition: none;
        font-weight: bold;
        color: #f1f1f1;
        background: rgba(28, 32, 44, 0.428);
}

#custom-power {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 1px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-size: 18px;
    transition: none;
    font-weight: bold;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#custom-power:hover {
    background: rgba(5, 63, 133, 0.214); /* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}

#custom-updater {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    transition: none;
    color: #161320;
    background: #F2CDCD;
}

#taskbar {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    background: rgba(28, 32, 44, 0.428);
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.122);/* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}
  
#custom-notification {
    margin-top: 6px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    color: #7aa2f7;
    background: rgba(28, 32, 44, 0.428);
}

#idle_inhibitor {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}
#custom-gpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
  }

  #custom-gpu_temp {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}

#custom-xbox_battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: rgba(28, 32, 44, 0.428);
}    

